:root {
    /*Brand Colours - Teal & Amber: */
    --primary-color: #0d9488;
    --primary-dark: #0f766e;
    --primary-light: #14b8a6;
    --secondary-color: #d97706;
    --secondary-dark: #b45309;

    /*Accent Colours:*/
    --accent-amber: #fbbf24;
    --accent-green: #10b981;
    --accent-slate: #475569;

    /*Neutral Colours:*/
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --background-light: #f9fafb;
    --background-white: #ffffff;
    --border-color: #e5e7eb;

}

.navbar-brand {
    font-family: "Righteous", cursive;
    font-weight: 400;

}

nav {
    background-color: var(--text-dark);
    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}


/* Reduce carousel height */
.carousel-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.carousel-caption {
    bottom: -10px;
    font-family: "Righteous", cursive;
}

/* Hide carousel indicators */
.carousel-indicators {
    display: none;
}

.featured-heading {
    width: 62%;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-family: "Righteous", cursive;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.book-card {
    max-width: 12rem;
    margin: 0 auto;
}

.book-card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.row.book-grid {
    --bs-gutter-x: -30rem;
    --bs-gutter-y: 0.75rem;
}

.card-title {
    font-family: "Righteous", cursive;
    font-weight: 400;
    font-size: 1rem;
}


p {
    font-family: "Elms Sans", sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    margin: 0.5rem 0;
}

.btn {
    display: inline-flex;
    align-items: center;

    font-family: "Elms Sans", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    height: 1.6rem;

}


footer {
    background-color: var(--text-dark);
    color: var(--background-white);
    padding: 15px;
    text-align: center;
}